html {
    background-color: white;
}

.table-header {
    background-color:  #717D8C;
    width: 100%;
}

.header-content {
    float: right;
    height: 20px;
    width: 700px;
    word-spacing: 10px;
    text-align: right;
    padding-right: 100px;
    padding-top: 110px;
    padding-bottom: 10px;
    background-color:  #717D8C;

}

.header-content a {
    color: #7ac1ae;
    font-size: 18px;
    font-family: Helvetica;
    text-decoration: none;
}


.container {
    height: auto;
    padding-left: 300px;
    padding-top: 10px;
}

.container-header {
    width: 500px;
    color: #7ac1ae;
    font-family: Helvetica;
    text-align: center;
}

.container table {
   width: 600px;
   height: auto;
}

.container table td {
    width: 30%;
    color: #7ac1ae;
    font-size: 20px;
    text-align: left;
}

.container a {
    text-decoration: none;
    color: #7ac1ae;
    padding: 8px 8px 8px 8px;
}

.navigation {
    width: 307px;
    height: 600px;
    background-color: #DDDDDD;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 150px;
}

.navigation li {
    padding: 2%;
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    color: #7ac1ae;
    padding: 8px 8px 8px 8px;
}

.body-content {
    width: 1108px;
}

.table-footer {
    width: 100%;
}


.footer {
    width: 100%;
    height: 50px;
    text-align: center;

    background-color:  #717D8C;
    padding-top: 3%;
    padding-bottom: 2%;
}

.footer a {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 22px;
    color: #7ac1ae;
    margin: 0 auto;
    padding: 8px 8px 8px 8px;
}