html {
    background-color: #606060;
}

.navigation {
    float: left;
    width: 18%;
    height: auto;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
    /*text-align: center;*/
    border-radius: 8px;
    padding-left: 5%;
}

.navigation ul {
    height: auto;
    padding: 1% 0px;
    margin: 0px;
}

.navigation li {
       padding: 2%;
}

.navigation a {
    text-decoration: none;
    color: #539ca5;
    padding: 8px 8px 8px 8px;
}

.body-content {
    float: right;
    width: 72%;
}

.container {
    height: auto;
    color: #539ca5;
    font-family: Helvetica;
    padding-left: 5%;
}

.container-header {
    width: 50%;
    text-align: center;
}

.container table {
   width: 50%;
   height: auto;
   text-align: center;
}

.container table tr {
    color: #539ca5;
}

.container table td {
    width: 30%;
    color: #539ca5;
    font-size: 30px;
    text-align: center;
    padding: 1% 0px;
}

.container a {
    text-decoration: none;
    color: #539ca5;
    padding: 8px 8px 8px 8px;
}

.home-container {
    height: auto;
    color: #539ca5;
    font-family: Helvetica;
    padding-left: 5%;
}

.home-header {
    width: 50%;
    text-align: center;
}

.home-container table {
   width: 50%;
   height: auto;
   text-align: center; 
}

.home-container table tr {
    color: #539ca5;
}

.home-container table td {
    width: 30%;
    color: #539ca5;
    font-size: 30px;
    text-align: center;
    padding: 1% 0px;
}

.home-container a {
    text-decoration: none;
    color: #539ca5;
    padding: 8px 8px 8px 8px;
}

.footer {
    width: 100%;
    text-align: center;
    color: #539ca5;
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 2%;
    position: absolute;
    bottom: -125px;
    left: 5px;
}

.footer a {
    text-decoration: none;
    font-family: Helvetica;
    color: #539ca5;
    padding: 8px 8px 8px 8px;
}